@charset "ISO-8859-1";
.banner__imagem--titulo{
	font-family: Pacifico, cursive;
	position: absolute; /*para dar certo a posição deste elemento, o pai BANNER precisa ser relative*/
	left: 50%;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);	
	color: #FFFFFF;
	top: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	width: 100%;
}

@media screen and (min-width: 0){
	.banner__imagem--titulo {
		font-size: 3rem;
	}
}

@media screen and (min-width: 768px){
	.banner__imagem--titulo {
		font-size: 5.0625rem;
	}
}
