@charset "ISO-8859-1";
.sobre{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	
}

@media screen and (min-width: 0){
	.sobre {
		padding: 2.rem 1rem;
	}
}

@media screen and (min-width: 768px){
	.sobre {
		padding: 2.5rem; 				
	}
}